body {
    background-color: gray;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: aqua;
    height: 500px;
    width: 350px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    background-color: bisque;
    width: 100px;
    height: 100px;
    margin-bottom: 25px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button#clear {

    align-items: center;
}

.button {
    background-color: aliceblue;
    min-width: 70px;
    min-height: 50px;
}

.button.undo {
    min-width: 163px;
}